.toast-container {
    position: absolute;
    top: 0;
    z-index: 40;
}

.toast {
    margin-bottom: 2px;
}
.toast-dismiss-container{
    display: inline;
}
.dismiss-btn{
    background: rgba(255, 255, 255, 0.21);
    border-style: solid;
    border-width: thin;
    border-color: ivory;
    float: right;
}

.toast-text-container{
    display: inline-block;
    padding-right: 20px;
    margin-top: 8px;
}