.toast-container {
    position: fixed;
    pointer-events: none;
    z-index: 999999;
}

.toast {
    margin-bottom: 2px;
    pointer-events: all;
}
.toast-dismiss-container{
    display: inline; 
}
.dismiss-btn{
    background: rgba(255, 255, 255, 0.21);
    border-style: solid;
    border-width: thin;
    border-color: ivory;
    float: right;
}

.toast-text-container{
    display: inline-block;
    padding-right: 20px;
    margin-top: 8px;
}

.toast-container.top-left {     
    top: 10px;
    left: 20px;
}

.toast-container.top-right {     
    top: 10px;
    right: 20px;
}

.toast-container.bottom-left {     
    bottom: 10px;
    left: 20px;
}

.toast-container.bottom-right {     
    bottom: 10px;
    right: 20px;
}

.toast-container.top-middle {     
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.toast-container.top-middle > .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.toast-container.bottom-middle {     
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.toast-container.bottom-middle > .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
